.app {
    width: 480px;
    margin: 0 auto;
    height: 700px;
    background: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(85, 85, 138, 0.2);

}
.instruction {
    width: 400px;
    margin: 0 auto;
    padding: 8px;
}

.choice {
    font-weight: normal;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.question {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}
